/*tells every element not to have margins, padding and have border box sizing*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*everything in the body section background is this color*/
body {
    background-color: #d9dcd6;
}


/*all h2 elements will be 36px font, and have a margin of 20px on the bottom */
h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/*assign center text and 10 px to the margin of all h3 tags. only h3 tags in the section with the class benifits*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*everything in an a tag will be white font color white.*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*everything in every p tag will have the font size of 16px*/
p {
    font-size: 16px;
}

/*syles the header on the page*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*styling text in the header at the top of the page*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*styles the seo in seriseon a different color*/
.seo {
    color: #d9dcd6;
}

/*stles the nav text on the top right of the page*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*sets no style to the unordered list*/
header nav ul {
    list-style-type: none;
}
/*sets the list so the text goes to the width of the page and doest make a new block*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* changed style for everything in the content class width is taking up 75% of page, diplaying inline-block so all elements in .content
will onnly take up 75% and go to next block. left margin 20px from the left edge of page*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*everything in article element will be 20px from bottom of .content. have a heght of 300px. be withing specified font family. have a background color,
and have a white font color*/
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*setting the height of images in content class*/
.content img {
    max-height: 200px;
}

/*if an element wanted to float left or right just assign these classes for them*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*all aside elements have 32px margin on the bottom and a white color */
aside {
    margin-bottom: 32px;
    color: #ffffff;
}

/* benifit-img class made to consolidate code to size all images in .benifits class. block display so they each are on there
own line in the section. margin is 10px from top and bottom and auto adjust to center. and max size for the img was set to 150px*/
.benefit-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*styling everything at the bottom or footer of the page*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
